* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-div {
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: relative;
}

.logo-image {
    height: auto;
    width: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

.bag-svg{
    animation: move-bag 12s ease infinite;
}
  @keyframes move-bag {
    15% {
        transform: translateY(7px);
    }
    45%{
        transform: translateY(7px);    
    }

    70%{
        transform: translateY(0);
    }
    
  }

.sidebar-icon {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.sidenav {
    width: fit-content;
    height: fit-content;
    position: fixed;
    padding-top: 60px;
    z-index: 1;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);

    >mat-list-item{
        height: 100px;
    }

}

.sidenav-item {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 900;
    width: fit-content;
    background-color: red;
}

.sidenav-item mat-icon {
    padding-top: 3%;
}

.viewport {
    position: fixed;
    z-index: 15;
    height: 79%;
    width: 300px;
}

.viewport-item {
    height: 60px;
}

.company-details{
    z-index: 4;
    margin-top: 15px;
    margin-left: 300px;
}